
.portfolioSeg {
  color: #C9D1D9;
  background-color: #161B22;
  border-radius: 10px;
  padding: 20px; /*adds space insice element between its content (text, borders..)*/
  margin: 25px; /*25px on top,bottom,left,and right*/
  margin-left: 290px;
}

.pageComponents {
  display: flex;
  padding-top: 5rem;
}

.infoCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #C9D1D9;
  background-color: #161B22;
  border-radius: 10px;
  padding: 20px; /*adds space insice element between its content (text, borders..)*/
  margin: 25px; /*25px on top,bottom,left,and right*/
  position: fixed;
}