
.pageBackground {
  /* background-color: #161B22;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0e13;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; /*horizontal alignment*/
  align-items: center; /*vertical*/
  background-color: #161B22; /* background color of this flexbox*/
  border-radius: 10px; /* smoothed corner */
  padding: 20px; /* spacing within form */
  width: 300px;
  height: 400px;
}

input, textarea {
  width: 100%; /* makes input boxes fit horizontally */
  height: 10%;
  padding: 10px; /* makes each input box bigger */
  margin-bottom: 10px; /* space between each input box */
  border-radius: 5px;
  border: none
}

.submittedText {
    text-align: center;
    color: #C9D1D9;
}