
.navBar {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #f1f1f1;
  background-color: #1424d8;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  white-space: nowrap;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
}

.navBarMainContent {
  display: flex;
  justify-content: flex-start;
}

.navBarMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.navbarItem {
  font-size: 1.34em;
  padding: 0 .5rem;
  text-decoration: none;
  color: #f1f1f1;
}